<table>
  <thead>
    <tr>
      <th>house</th>
      <th>health</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |h| %>
      <tr>
        <td><%= h.email %></td>
        <td><%= h.point.health %></td>
      </tr>
    <% end %>
  </tbody>
</table>